<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>StorPad</title>

		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/media.css">
		<link rel="icon" type="image/gif" href="img/favicon.svg">

		<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
		<!-- Custom styles for this template -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<!--header leftmenu-->
		<div class="leftmenu">
			<div class="nav">
				<a href="index.php"><img src="img/logotype.svg" alt="Логотип"></a>
			<div class="navbar">
				
				<a href="common.php"><div class="icon imgMain"></div>Главная</a>
				<a href="orders.php"><div class="icon imgOrder"></div>Заказы</a>
				<a href="clients.php"><div class="icon imgClients"></div>Клиенты</a>
				<a href="displays.php"><div class="icon imgDisplay"></div>Дисплей</a>
			</div>
			</div>
			<hr>
		</div>
		<!--header leftmenu-->
		<!--header main-->
		<div class="main">
			<!--header header-->
			<div class="header">
			<div class="personalAreaBar">
				<a href="#"><img src="img/avatar.svg" alt="Аватар" class="icon imgAvatar iconLarge"><p class="name">Lestate15</p></a>
				<a href="" class="icon imgNotification iconLarge notifyDrop"></a>
				<a href="" class="logout iconLarge"></a>
			</div>
			</div>
			<!--header header-->

			<!--header content-->
			##content##
			<!--header content-->
			
		</div>
				<div class="popupnotification">
    		<div class="popupnotification-content">
    			<div class="popupnotificationheader">
    				<div class="icon iconSmall iconPopupnotification"></div>
    				Уведомления
    			</div>
        <div class="notificationcontent">
        	<div class="notifyrow">
        		<div class="notifytime">2 часа назад</div>
        		<div class="notifymessage">Изменено время проведения встречи «Обсуждение вопросов по сайту StorPad.com» с вашим участиемс 17.10.2019 11:00:00, на 16.10.2019 11:00:00</div>
        		<div class="notifyreview"><a href="#">Посмотреть подробности</a></div>
        	</div>
        	<div class="notifyrow">
        		<div class="notifytime">2 часа назад</div>
        		<div class="notifymessage">Изменено время проведения встречи «Обсуждение вопросов по сайту StorPad.com» с вашим участиемс 17.10.2019 11:00:00, на 16.10.2019 11:00:00</div>
        		<div class="notifyreview"><a href="#">Посмотреть подробности</a></div>
        	</div>
        	<div class="notifyrow">
        		<div class="notifytime">2 часа назад</div>
        		<div class="notifymessage">Изменено время проведения встречи «Обсуждение вопросов по сайту StorPad.com» с вашим участиемс 17.10.2019 11:00:00, на 16.10.2019 11:00:00</div>
        		<div class="notifyreview"><a href="#">Посмотреть подробности</a></div>
        	</div>
        	<div class="notifyrow">
        		<div class="notifytime">2 часа назад</div>
        		<div class="notifymessage">Изменено время проведения встречи «Обсуждение вопросов по сайту StorPad.com» с вашим участиемс 17.10.2019 11:00:00, на 16.10.2019 11:00:00</div>
        		<div class="notifyreview"><a href="#">Посмотреть подробности</a></div>
        	</div>

        </div>
    		</div>
		</div>
		<!--header main-->
		<script src="js/script.js"></script>
	</body>

</html>