<div class="content" >
                <div class="contentHeader">
                    <h1>Управление витриной</h1>
                </div> 
                <div class="showCaseContent">
                    <div class="wrapShowcase">
                        <table id="showCase" class="display" style="width:100%" cellspacing="0">
                            <thead class="c1 padding">
                                <tr class="c1">
                                    <th class="t1">Параментры <div class="iconDownt1 rotate"></div> </th>
                                    <th class="t2">Значение <div class="iconDownt2"></div></th>
                                </tr>
                            </thead>
                        </table>
                <div class="mainCustomization">
                    <div class="titleShowcase dropdownTitle dSet" >
                        <h1> <div class="dropdown icon cSet"></div>Основные настройки</h1>
                    </div> 
                     <div class="customizationContent dropdownBlock">
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Логотип на главной странице </p>
                                    <p>FXR.png</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Логотип на главной странице </p>
                                    <p>FXR.png</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                     </div>
                </div>
                <div class="mainCustomization carouselSettings">
                    <div class="titleShowcase dropdownTitle dCor">
                        <h1> <div class="dropdown icon cCor"></div>Настройки каруслеи </h1>
                    </div> 
                     <div class="customizationContent dropdownBlock">
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <input type="text" value="15" class="inputId"><input type="text" value="С123" >
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Логотип на главной странице </p>
                                    <p>FXR.png</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                         <div class="showcaseRow">
                             
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Логотип на главной странице </p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                     </div>
                </div>
                <div class="mainCustomization">
                    <div class="titleShowcase dropdownTitle dBan">
                        <h1> <div class="dropdown icon cBan"></div>Баннеры  </h1>
                    </div> 
                     <div class="customizationContent dropdownBlock">
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <input type="text" value="15" class="inputId" ><input type="text" value="С123" >
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Картинка перехода на фильтр женщины  </p>
                                    <p>Файл не выбран</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <input type="text" value="15" class="inputId" ><input type="text" value="С123" >
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Картинка перехода на фильтр женщины  </p>
                                    <p>sale. png</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <input type="text" value="15" class="inputId" ><input type="text" value="С123" >
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Картинка перехода на фильтр женщины  </p>
                                    <p>sale. png</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <input type="text" value="15" class="inputId" ><input type="text" value="С123" >
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Картинка перехода на фильтр женщины  </p>
                                    <p>sale. png</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <input type="text" value="15" class="inputId" ><input type="text" value="С123" >
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Картинка перехода на фильтр женщины  </p>
                                    <p>sale. png</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <input type="text" value="15" class="inputId" ><input type="text" value="С123" >
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Картинка перехода на фильтр женщины  </p>
                                    <p>sale. png</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                         <div class="showcaseRow">
                             <div class="basket icon"></div>
                             <input type="text" value="15" class="inputId" ><input type="text" value="С123" >
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Картинка перехода на фильтр женщины  </p>
                                    <p>sale. png</p>
                                </div>
                                <div class="btn load">Загрузить</div>
                             </div>
                         </div>
                     </div>
                </div>
                <div class="mainCustomization">
                    <div class="titleShowcase dropdownTitle dCol">
                        <h1> <div class="dropdown icon cCol"></div>Настройки цвета  </h1>
                    </div> 
                     <div class="customizationContent dropdownBlock">
                         <div class="showcaseRow">
                             <input type="color" value="#6D5BD0" id="colorBlockLogo1">
                             <input type="text" value="#6D5BD0" id="inputColor1" onkeyup="document.getElementById('colorBlockLogo1').value=this.value">
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Цвет блока лого </p>
                                </div>
                                <div class="btn load">Изменить</div>
                             </div>
                         </div>
                         <div class="showcaseRow">
                             <input type="color" value="#B999FA" id="colorBlockLogo2">
                             <input type="text" value="#B999FA" id="inputColor2" onkeyup="document.getElementById('colorBlockLogo2').value=this.value">
                             <div class="rowMain">
                                 <div class="rowContent">
                                    <p>Цвет блока лого </p>
                                </div>
                                <div class="btn load">Изменить</div>
                             </div>
                         </div>
                     </div>
                </div>
                    </div>
                    <div class="exampleShowcase">
                        <img src="./img/showcase.png" alt="">
                        <div class="btn load">Получить скриншот</div>
                    </div>

                </div>
                <div class="btn load save">Сохранить изменения</div>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
            <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" ></script>
        <script>
                
    $('#showCase').DataTable( {
        "ajax": './ajax/data/showcase.txt',
        "iDisplayLength": 30,
        "lengthChange": false,
        "searching": false,
        "info": false,
        "paging": false,
        "bpaginate": false,
        "bSort": false
    } 
                    
    );
        </script>